.team-card {
  width: 100%;
}
// .team-pro-pic {
//   width: 88px;
//   height: 88px;
// }
.icons {
  color: #d3d3d3;
  cursor: pointer;
  a{
    text-decoration: none;
    color: #d3d3d3;
  }
}
.team-name {
  color: #333f51;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.team-title{
    color: #22C55E;
}
