$primary: #3b82f6;

.dbox {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 20px;
  p {
    margin-bottom: 0;
    span {
      font-weight: 500;
      // color: $black;
    }
  }
  .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $primary;
    // margin: 0 auto;
    margin-bottom: 20px;
    // span{
    // 	font-size: 20px;
    // 	color: white;
    // }
    color: white;
  }
  .text {
    width: 100%;
  }
  h2 {
    font-size: 30px;
    line-height: 38px;
  }
  a {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #556987;
  }
  .fab {
    color: #556987;
  }
}

// .contactForm{
// 	.label{
// 		// color: $black;
// 		text-transform: uppercase;
// 		font-size: 12px;
// 		font-weight: 600;
// 	}
// 	.form-control{
// 		border: none;
// 	}
// }

.contact-form {
  background: #f7f8f9;
  ::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D5DAE1;
    
    flex: none;
    order: 1;
    flex-grow: 1;
  }
}

.form-label-text {
  /* text-md/Medium */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/800 */

  color: #333f51;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
