/* .header{
margin-bottom: 5%;
} */

.head-txt {
  margin-top: 20%;
  /* display-lg/Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  /* or 125% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #2a3342;
}

.head-sub-txt {
  margin-top: 30px;
  /* text-xl/Medium */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 30px;
  /* or 150% */

  /* Gray/500 */

  color: #556987;
}

.btn-custom {
  margin-top: 30px;
}

.header-img {
  width: 100%;
  height: 90%;
}

@media (max-width: 991px) {
  .header {
    text-align: center;
  }
  .btn-custom {
    margin: 30px auto;
  }
  // .header-img{
  //     bottom: 0;
  //     top: 30px;
  //     right: auto;
  // }
  .head-txt {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}


@media (max-width: 767px) {
    .head-txt {
        font-size: 2.2rem;
        line-height: 2.8rem;
      }
}