.footer-section {
  background-color: white;
}

.text-reset {
  text-decoration: none;
}

.copyright-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #8896ab;
}



@media only screen and (max-width: 767px) {
  .md-footer{
    text-align: left;
    .md-footer-txt{
      width: 60%;
    }
    padding-left: 20px;
  }
 
}
